<mat-grid-list [cols]="cols" rowHeight="4rem">

  <!--  Form-->
  <mat-grid-tile [colspan]="12" [rowspan]="5">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Change Password </mat-card-title>
      </mat-card-header>
      <mat-card-content  id="schform">
        <mat-form [formGroup]="form">

          <mat-form-field appearance="outline">
            <mat-label>Old Password Name</mat-label>
            <input matInput formControlName="oldpassword">
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>New Password</mat-label>
            <input matInput formControlName="newpassword">
          </mat-form-field>

          <div id="butpanel">
            <button mat-raised-button (click)="reset()" [disabled]="!enaadd">Change Password</button>
            <button mat-raised-button (click)="clearForm()" [disabled]="!enaadd">Clear</button>
          </div>
        </mat-form>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>

